.pipelines {
  &__heading {
    margin-bottom: 2rem;
    font-weight: 500;
    font-size: 2rem;
  }

  &__list {
    display: grid;
    grid-gap: 2.25rem;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 25rem));

    max-width: 1500rem;
    margin: 0 auto;
  }
}

.pipeline {
  height: 100%;

  &:hover {
    cursor: pointer;
    transform: scale(1.015);
    transition: transform 0.3 ease-in-out;
  }
}
