.pipelines {
  &__header {
    margin-top: 1rem;
    margin-bottom: 2rem;
  }

  &__list {
    display: grid;
    grid-gap: 2.25rem;
    grid-template-columns: repeat(auto-fit, 25rem);

    max-width: 1500rem;
    margin: 0 auto;
  }
}

.pipeline {
  height: 100%;

  &:hover {
    transform: scale(1.015);
    transition: transform 0.3 ease-in-out;
  }
}
